#Map img{
    width:50px;
}

#Map1{
    padding:3px;
}

#Map1 {
    position: absolute;
    top:70px;
}


.card-top{
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background: #ffff;
    background-clip:border-box;
    border:1px solid rgba(0, 0, 0,2)
}

.item img{
    width:64px;
}

.item{
    padding:10px;
    text-align: center;
}

.item a{
  color:black;
}

.item a:hover{
    color:blue;
}


.card{
    padding:10px;
    margin:40px;
}

.card img{
    width:200px;
    height:200px;
    margin-bottom:15px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
